<div class="new_list">
  <div class="container">
    <h1>New List</h1>

    <%= render 'form', list: @list %>

    <div id="links">
      <%= link_to 'Back', lists_path %>
    </div>

  </div>
</div>
