<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Plannr", root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My lists", "#" %></li>
        <li><%= link_to "Sign out", "#" %></li>
    </ul>
  </div>
</nav>
